html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
  --grid-gap: 12px;
  --cols: 8;
}

.container {
  display: grid;
  grid-template-columns: repeat(var(--cols), 1fr);
  gap: var(--grid-gap);
  max-width: 3200px;
  margin-inline: auto;
}

.spacer-left {
  grid-column: span 2;
}

.content {
  grid-column: span calc(var(--cols) - 4);
  display: grid;
  grid-template-columns: subgrid;
  gap: var(--grid-gap);
}

.spacer-right {
  grid-column: span 2;
}

@media (min-width: 1024px) {
  .container {
    --cols: 12;
  }
}

@media (min-width: 1366px) {
  .container {
    --cols: 16;
  }
}

@media (min-width: 1920px) {
  .container {
    --cols: 22;
  }
}

@media (min-width: 2650px) {
  .container {
    --cols: 30;
  }
}

.col-1 { grid-column: span 1; }
.col-2 { grid-column: span 2; }
.col-3 { grid-column: span 3; }
.col-4 { grid-column: span 4; }
.col-8 { grid-column: span 4; }
.col-12 { grid-column: span 4; }
.col-18 { grid-column: span 4; }
.col-26 { grid-column: span 4; }

@media (min-width: 1024px) {
  .col-8 { grid-column: span 8; }
  .col-12 { grid-column: span 8; }
  .col-18 { grid-column: span 8; }
  .col-26 { grid-column: span 8; }
}

@media (min-width: 1366px) {
  .col-12 { grid-column: span 12; }
  .col-18 { grid-column: span 12; }
  .col-26 { grid-column: span 12; }
}

@media (min-width: 1920px) {
  .col-18 { grid-column: span 18; }
  .col-26 { grid-column: span 18; }
}

@media (min-width: 2650px) {
  .col-26 { grid-column: span 26; }
}

.h-1 { height: 60px; }
.h-2 { height: 132px; }
.h-4 { height: 276px; }

.item {
  outline: 1px solid red;
  aspect-ratio: 1/1;
}

.module {
  background: #eaeaea;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font: 600 14px system-ui, sans-serif;
}

.module--search { background: #d0ebff; }
.module--ad { background: #ffe8cc; }
